body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        line-height: 2;
        height: 100%;
}


.container{
    
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    height: 100vh;
    width: 100vw;
    border: 5px solid rgb(117, 0, 128);
    box-sizing: border-box;
    color: rgb(116, 75, 154);

}


.login-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 210px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(140, 88, 140);
    box-sizing: border-box;


}



.login-card > input{
    height: 30px;
    width: 100px;
    margin-bottom: 5px;
}


#username{
 
    border: none;
    border-bottom: 1px solid black;
}


#password{
  
    border: none;
    border-bottom: 1px solid black;
}


.button1 {
    height: 30px;
    width: 100px;
    background-color: #86477a; 
    color: rgb(255, 255, 255); 
    border: 2px solid #86477a;
    border-radius: 3em;
  }

.button1:hover {
    height: 30px;
    width: 100px;
    background-color: #5b3359;
    color: rgb(255, 255, 255);
  }
